{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/Accesseries.css' %}">
</head>
<body>
    <section>
        <div class="heding">
            <h1>Accesseries</h1>
        </div>
        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/appleaccess-1.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/appleaccess-2.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/appleaccess-3.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/appleaccess-4.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/appleaccess-5.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/appleaccess-6.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/appleaccess-7.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/appleaccess-8.png" alt=""></a>
                <h2>Apple 16 pro</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
        <div class="divbutton">
            <button><a href="{% url 'home' %}">BACK</a></button>
        </div>
    </section>
</body>
</html>

{% endblock %}