<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
  </head>
  <nav style="text-align: center; width: 100%;background-color: rgb(29, 31, 31);height: 4vh;">
    <a href="{% url 'home' %}">HOME</a>
    <a href="{% url 'register' %}">REGISTER</a>
  
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">LOGOUT</a>
    {% endif %}
  </nav>
      {% block content %}

      {% endblock %}
  <body>
  </body>
</html>