{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
      {% if err %}
            <p style='color:red;'>{{err}}</p>
      {% endif %}
      
      <form method='POST' id="formvalidationlogin" onsubmit="return FormValidationn()" action="{% url 'login' %}">
            <h2>Pleace Login</h2>
            <hr>
            {% csrf_token %}
            <label for='uname'>username</label>
            <input type='text' id='uname' name='uname' required>
            <span class="error" id="unameerror"></span>

            <label for='pword'>password</label>
            <input type='password' id='pword' name='pword' required>
            <span class="error" id="pworderror"></span>

            <button type="submit">SUBMIT</button>
      </form>
      <script src="static/scripts/login.js"></script>

{% endblock %}