{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/onlywatch.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section>
        <div class="heding-1">
            <h1>Products</h1>
        </div>
        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/applewatch-1.webp" alt=""></a>
                <h2>Apple Watch 7</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-2.webp" alt=""></a>
                <h2>Apple Watch 6</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/applewatch-3.webp" alt=""></a>
                <h2>Apple Watch 4</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-4.webp" alt=""></a>
                <h2>Apple Watch 10</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/applewatch-5.webp" alt=""></a>
                <h2>Apple Watch 9</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-6.webp" alt=""></a>
                <h2>Apple Watch 6</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/applewatch-7.webp" alt=""></a>
                <h2>Apple Watch 5</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-8.webp" alt=""></a>
                <h2>Apple Watch 7</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/applewatch-9.webp" alt=""></a>
                <h2>Apple Watch 9</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-10.webp" alt=""></a>
                <h2>Apple Watch 10</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/applewatch-11.webp" alt=""></a>
                <h2>Apple Watch 8</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-12.webp" alt=""></a>
                <h2>Apple Watch 9</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/applewatch-13.webp" alt=""></a>
                <h2>Apple Watch 10</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-14.webp" alt=""></a>
                <h2>Apple Watch 11</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/applewatch-15.webp" alt=""></a>
                <h2>Apple Watch 12</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-16.webp" alt=""></a>
                <h2>Apple Watch 13</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>

        <div class="products">
            <div class="items">
                <a href=""><img src="/static/images/applewatch-18.webp" alt=""></a>
                <h2>Apple Watch 7</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-19.webp" alt=""></a>
                <h2>Apple Watch 9</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
               <a href=""><img src="/static/images/applewatch-20.webp" alt=""></a>
                <h2>Apple Watch  14</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="items">
                <a href=""><img src="/static/images/applewatch-1.webp" alt=""></a>
                <h2>Apple Watch 15</h2>
                <div class="des">
                    <p>orem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
        <div class="divbutton">
            <button><a href="{% url 'home' %}">BACK</a></button>
        </div>
    </section>

    <script src="static/scripts/base.js"></script>
    
</body>
</html>

{% endblock %}