*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
h1{
    font-family: "Poppins",sans-serif;
    color: rgb(48, 51, 43);
}
hr{
    width: 10%;
    height: 4px;
    color: red;
}
label{
    padding: 10px 10px;
}
input{
    width: 30%;
    height: 40px;
}
button{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background: #6d6b6b;
    color:whitesmoke;
}

.error{
    color: red;
}
